attrs==21.2.0
backports.entry-points-selectable==1.1.0
cycler==0.10.0
distlib==0.3.2
filelock==3.0.12
iniconfig==1.1.1
kiwisolver==1.3.1
matplotlib==3.4.2
numpy==1.21.1
packaging==21.0
Pillow==8.3.1
platformdirs==2.2.0
pluggy==0.13.1
py==1.10.0
pyparsing==2.4.7
PyQt5==5.15.4
PyQt5-Qt5==5.15.2
PyQt5-sip==12.9.0
pytest==6.2.4
python-dateutil==2.8.2
six==1.16.0
toml==0.10.2
tox==3.24.1
virtualenv==20.7.2
